/* SASSS VARIABLES */

// RESPONSIVE BREAKPONTS

$bp-large: 68.75em; // 1100px/16px(font-root)
$bp-medium: 50em; // 800px

/* CSS VARIABLES */

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);

  --shadow-red: 2px 8px 20px hsla(0, 78%, 62%, 0.1);
  --shadow-cyan: 2px 8px 20px hsla(180, 62%, 55%, 0.1);
  --shadow-orange: 2px 8px 20px hsla(34, 97%, 64%, 0.1);
  --shadow-blue: 2px 8px 20px hsla(212, 86%, 64%, 0.1);
}

/* BASIC RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px/16px (font-root) => 62.5%
  box-sizing: border-box;
}

/* BASIC STYLE */

.container {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--dark-blue);
  background-color: var(--light-gray);
  max-width: 144rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10rem 16rem 3rem 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem 5rem 3rem 5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 8rem 2.5rem 3rem 2.5rem;
  }
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: 400;
  }

  &__subtitle {
    font-weight: 600;
  }

  /* DRY PRINCIPLE */

  &__title,
  &__subtitle {
    font-size: 3rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--grayish-blue);
    width: 40%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 7.5rem;
      width: 100%;
    }
  }
}

/* CARD LAYOUT [GRID]*/

.section {
  display: grid;
  grid-template-columns: [card1-start] 1fr [card1-end card2-start] 1fr [card2-end card3-start] 1fr [card3-end];
  grid-auto-rows: min-content;
  gap: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: [card1-start card2-start card3-start] 1fr [card1-end card2-end card3-end];
  }
}

/* GENERAL CARD */
.card {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
  }

  /* SPECIFIC CARD + POSITION ON GRID*/

  &--1 {
    grid-column: card1-start / card1-end;
    grid-row: 2 / span 2;
    box-shadow: var(--shadow-cyan);

    @media only screen and (max-width: $bp-medium) {
      grid-row: span 2;
    }

    &::before {
      background-color: var(--cyan);
    }
  }

  &--2 {
    grid-column: card2-start / card2-end;
    grid-row: 1 / span 2;
    box-shadow: var(--shadow-red);

    @media only screen and (max-width: $bp-medium) {
      grid-row: span 2;
    }

    &::before {
      background-color: var(--red);
    }
  }

  &--3 {
    grid-column: card3-start / card3-end;
    grid-row: 2 / span 2;
    box-shadow: var(--shadow-blue);

    @media only screen and (max-width: $bp-medium) {
      grid-row: span 2;
    }

    &::before {
      background-color: var(--blue);
    }
  }

  &--4 {
    grid-column: card2-start / card2-end;
    grid-row: 3 / span 2;
    box-shadow: var(--shadow-orange);

    @media only screen and (max-width: $bp-medium) {
      grid-row: span 2;
    }

    &::before {
      background-color: var(--orange);
    }
  }

  /* CARD OUTSIDE */

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }

  /* CARD INSIDE */

  &__title {
    font-weight: 600;
    font-size: 1.8rem;
  }

  &__paragraph {
    font-weight: 200;
    font-size: 1.3rem;
    word-spacing: 1px;
    color: var(--grayish-blue);
    margin-top: 1rem;
  }

  &__img {
    align-self: flex-end;
    margin-top: 5rem;
    width: 64px;
    height: 64px;
  }
}

/* FOOTER */

.footer {
  font-size: 1.4rem;
  font-weight: 600;
  color: #a9a9a9;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 3rem;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 7.5rem;
  }

  &:before {
    content: "";
    height: 1px;
    background-color: currentColor;
    width: 30%;
    position: absolute;
    bottom: 3rem;
  }
}
